# Dependencies
node_modules/

# Build
dist/
.astro/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Temp
*.tmp
coyol-website/source-files/Master Plan NH-MA.pdf
coyol-website/source-files/*.pdf
coyol-website/source-files/videos/
*.blend
